a{
    text-decoration: none;
    position: relative;
    top: -80px;
    margin-top: 150px;
    margin-left: 30px;
    font-size: 11PX;
}
nav{
    background-color: white;
    height:100px;
    width: 100%;
    
}
i{
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
    top: -130px;    
}
span{
    text-decoration: none;
    position: relative;
    top: -50px;   
}
.logo{
    
    position: relative;
    top: -70px;
    margin-left: 30px;
}
.main{
    height: 800px;
    width: 100%;
    background-image: url(vande.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tra{
    color: red;
}
.ta{
    border: 1px black solid;
    background-color: white;
    height: 550px;
    width: 400px;
}
.for{
    display: flex;
}
.fo{
position: relative;
top: 10px;
border: 1px black solid;
height: 120px;
width: 20px;
background-color: blue;
color: white;
}
     



